/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.timer {
  display: flex;
}
.field {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  padding-top: 20px;
}
.value {
  font-size: 32px;
  padding-bottom: 5px;
}
.button-timer {
  border: none;
  width: 60px;
  height: 22px;
  color: #242424;
}
.button-timer:hover,
.button-timer:focus,
.button-snackbar:hover,
.button-snackbar:focus {
  background-color:darkgray;
}

.button-snackbar {
  border: none;
  width: 300px;
    height: 30px;
    color: #242424;
    margin-top: 20px;
    border-radius: 6px;
    padding: 0;
}
.field-snackbar {
  width: 296px;
  height: 60px;
  padding: 0;
  margin-top: 20px;
}
.label-snackbar {
  padding-left: 20px;
}
.label-snackbar-2 {
padding-left: 60px;
}